
@{
    ViewBag.Title = "Про систему";
}


<header class="text-center">
    <h2>
        Система проведение турниров между зарегистрироваными пользователями
    </h2>
</header>


<article class="jumbotron row">
    
    <div class="col-lg-4 margin-top-20">
        <img src="~/Files/TournamentImages/turnirAVA.jpg" width="300" height="200" class="img-circle" />
    </div>

    <div class="col-lg-8">
        Система представляеть пользоателям удобгый интерфейс для проведение турниров в формате игр, предусматривающего 
        игры каждого пользователя с каждым. У пользователя есть возможность подавать заявки на участия в разных туринрах 
        и отслеживать ход турнира. Управление турниром осуществляють администратори системы, который планирують начинають 
        турнир, планирують проведение игр и заносять результаты игр, заканчивають турниры.
    </div>

</article>


