@using WebApp.ViewModels.Home
@model BookCreateViewModel
<div class="jumbotron book-create-jumbotron">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 text-center form-book-header">
            Загрузка книги на сайт
        </div>
    </div>

    <form role="form" method="post" enctype="multipart/form-data">

        <div class="row form-group">

            <label class="control-label text-right col-lg-offset-2 col-lg-3">
                Наименование книги
            </label>

            <div class="col-lg-4">
                <input type="text" asp-for="Name" class="form-control" required="required" />
            </div>

            <div class="text-danger">
                @Html.ValidationMessageFor(book => book.Name)
            </div>

        </div>



        <div class="row form-group">

            <label class="control-label text-right col-lg-offset-2 col-lg-3">
                Изображение книги*
            </label>

            <div class="col-lg-4">
                <input type="file" asp-for="Image" class="form-control" />
            </div>

            <div class="text-danger">
                @Html.ValidationMessageFor(book => book.Image)
            </div>
        </div>

        <div class="row form-group">

            <label class="control-label text-right col-lg-offset-2 col-lg-3">
                Файл книги
            </label>

            <div class="col-lg-4">
                <input type="file" asp-for="Book" class="form-control" />
            </div>

            <div class="text-danger">
                @Html.ValidationMessageFor(book => book.Book)
            </div>
        </div>

        <div class="form-group text-center">

            <input type="submit" class="btn btn-success" value="Загрузить" />

        </div>
    </form>
</div>
