@{
    ViewData["Title"] = "Home Page";
}

<header class="margin-top-50 text-center">
    <h1>
        Добро пожаловать на онлайн сервис хранение книг
    </h1>
</header>
<div class="row margin-top-50">
    <div class="col-md-3">
       <img src="/images/book.jpg" /> 
    </div>
    <div class="col-md-9">
        <ul class="list-unstyled book-list">
            <li>BookStore - сайт для чтение електронных книг.</li>
            <li>Bookstore - являеться свободной платформой где каждый может хранить свои любимые книги</li>
            <li>BookStore предлагает Вам легкий и понятный интерфейс </li>
            <li>BookStore предоствляет доступ к книгам в любой точке мира с любого устройства на люой платформе</li>
        </ul> 
    </div>
</div>
