
@{
    ViewBag.Title = "Сообщение отправлено";
}

<header class="text-center border-bottom-short-underline">
    <h2> Сообщение отправлено на заданый email </h2>
</header>

<div class="margin-top-20 text-center text-italic">
    На заданный электронный адрес было отправлено сообщение для восстановление пароля. 
</div>


