
@{
    ViewBag.Title = "Восстановление пароля";
}

<div class="login-container">

    <div class="text-center login-header">

        <div class="login-header-title">

            Придумайте новый пароль

        </div>

    </div>

    <form method="post">

        <div class="login-body">

            <div class="form-group">

                <label for="Password" class="col-lg-4 text-right login-label">
                    Пароль
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="password" name="Password" id="Password" class="form-control" required />
                </div>

            </div>

            <div class="form-group">

                <label for="Password" class="col-lg-4 text-right login-label">
                    Подтверждение пароля
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="password" name="Confirmation" id="ConfirmPassword" class="form-control" required />
                </div>

            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="form-group text-center" id="ErrorProfileContainer">
                    <span class="admin-user-edit-error-message text-danger no-margins margin-top-20" id="ErrorMessage">
                        @ViewData.ModelState["Password"].Errors.First().ErrorMessage
                    </span>
                </div>
            }

        </div>

        <div class="login-footer text-center row">
            <div class="submit-btn row">
                <input type="submit" class="btn btn-success" value="Заменить пароль" />
            </div>
        </div>

    </form>

</div>

