@{
    ViewBag.Title = "Восстановление пароля";
 }

<div class="login-container">

    <div class="text-center login-header">

        <div class="login-header-title">

            Восстановление пароля

        </div>

    </div>

    <form method="post">

        <div class="login-body">

            <div class="form-group">

                <label class="col-lg-4 text-right login-label" for="Login">
                    Электронный адрес
                </label>

                <div class="col-lg-8 text-left no-paddings margin-bottom-20">
                    <input type="text" name="email" id="email" class="form-control" required />
                </div>

            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="form-group text-center" id="ErrorProfileContainer">
                    <span class="admin-user-edit-error-message text-danger no-margins margin-top-20" id="ErrorMessage">
                        @ViewData.ModelState["Email"].Errors.First().ErrorMessage
                    </span>
                </div>
            }

        </div>

        <div class="login-footer text-center row">
            <div class="submit-btn row">
                <input type="submit" class="btn btn-success" value="Восстановить" />
            </div>
        </div>

    </form>

</div>

