
@{
    ViewBag.Title = "VerifyEmail";
}

<header class="text-center border-bottom-short-underline">
    <h2> Подтверждение электронного адреса </h2>
</header>

<div class="margin-top-20 text-center text-italic">
    Поздравляем Вы успешно подтвердили электронный адрес. <a href="/Tournament/Index/"> Перейти на главную страницу. </a>
</div>

