
@{
    ViewBag.Title = "Waiting For Email Verify";
}

<header class="text-center border-bottom-short-underline">
    <h2> Подтверждение электронного адреса </h2>
</header>

<div class="margin-top-20 text-center text-italic">
    Подтвердите электронный адрес указанный при регистрации для того, чтобы получить полнгоценный доступ к системе. Мы ждем Вас.
</div>
